@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #a68f76;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  background-color: #5b5046;
}

/* Navbar */
.navbar {
  background: #746354;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-left: 1rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

/* Showcase */
.showcase {
  height: fit-content;
  width: 100%;
  background: var(--primary-color);
}

.showcase h1 {
  font-size: 2.5rem;
  color: white;
  text-align: center;
  /* padding: 1rem 0; */
}

.showcase form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.showcase form input,
form select {
  font-size: 15px;
  width: 100%;
  max-width: 200px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

form button {
  margin-top: -45px;
  padding: 12px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: white;
  color: black;
}

form button:hover {
  background: rgb(226, 217, 217);
  color: black;
}

.msg {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 1rem;
}

.input-field::placeholder {
  color: white;
}

.input-field {
  background-color: white;
  margin-top: 10px;
  padding: 12px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: left;
  width: 100%;
  color: black;
}

.subtitle {
  margin-top: -20px;
  margin-bottom: 20px;
}

.input {
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-gap: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

label {
  grid-row: 1;
  grid-column: 1 / -1;
}

input[type="text"] {
  grid-row: 2;
  width: 100%;
  /* padding: 10px; */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.clear-button {
  margin-left: 10px;
}

.input-button:hover {
  background-color: rgb(55, 139, 55);
  transition: all;
  border: none;
  color: white;
  transition-duration: 250ms;
}

@media screen and (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  form button {
    margin-top: -2px;
  }
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 35px;
}
.lds-ellipsis div {
  position: absolute;
  top: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-button {
  background-color: green;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

.input-field:focus {
  background-color: #202123;
}

.advices {
  margin-top: 10px;
  margin-bottom: 10px;
}

.imgname {
  text-align: left;
  font-weight: bold;
  margin-top: -1px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 400px) {
  .imgname {
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
  ai-image {
    width: 260px;
    height: 260px;
  }
}

@media only screen and (max-width: 1000px) {
  .ai-image {
    width: 260px;
    height: 260px;
  }
}

@media only screen and (max-width: 400px) {
  .ai-image {
    width: 260px;
    height: 260px;
  }
}

.input-field:valid {
  background-color: white;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.logoimg {
  width: 200px;
  height: 100px;
}

@media (max-width: 768px) {
  .logoimg {
    width: 150px;
    height: 100px;
  }
}

@media (max-width: 480px) {
  .logoimg {
    width: 150px;
    height: 100px;
  }
}
